.introItemText {
    .ItemText {
        margin-bottom: 32px;
    }
}

.custom-btn {
    width: 100%;
}

.custom-select {
    text-indent: 8px;
}

.mainImg {
    margin-bottom: 30px;
}


@media (max-width: 575.98px) {
    .mainImg {
        margin-bottom: 16px;
    }
}