.mypageSider {
    h3 {
        margin-bottom: 28px;
    }

    ul {
        li:first-child a {
            border-bottom: 2px solid $secondary;
        }

        li:nth-child(2) a:hover,
        li:nth-child(3) a:hover {
            border-bottom: 2px solid $secondary;
        }
    }
}

.mypageForm {
    h3 {
        border-bottom: 1px solid #818A91;
    }

}

.memberInfo {
    small {
        color: #A5A5A5;
    }
}